{% extends "base.html" %}
{% block resources %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
{% endblock resources %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Beige & Daisy's
            <small>Django Applications</small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-7 mb-4 img-set" fade-up-in>
                {% load staticfiles %}
                {% comment %} <img class="img-fluid" src="{% static 'img/img1.png' %}" alt="" height="500px"> {% endcomment %}
                <img class="img-fluid img-share-height img-share-width img_modal_origin" src="{% static 'img/img1.png' %}" alt="">
                <div class="modal-parent">
                    <div class="modal_frame">
                        <div class="video-wrapper">
                                <img class="img_frame" src="{% static 'img/img1.png' %}">
                                <div class="img_frame_caption">
                                    <h5>내용1</h5>
                                    <h5>내용2</h5>
                                    <h5>내용3</h5>
                                    <h5>내용4</h5>
                                </div>
                        </div>
                    </div>
                    {% comment %} <a class="close-modal"></a>  {% endcomment %}
                </div>
                <div class="img-overlay-text img_modal_origin">
                    <h3>산-샘플제목-1</h3>
                    <h5>2019.4.3 오후 6시 54분</h5>
                </div>
                <button class="btn btn-custom" onclick="">삭제</button>
            </div>

            <div class="col-md-5 mb-4 img-set" fade-up-in>
                {% comment %} <img class="img-fluid" src="{% static 'img/img2.png' %}" alt="" height="500px"> {% endcomment %}
                <img class="img-fluid img-share-height img-share-width img_modal_origin" src="{% static 'img/img2.png' %}" alt="">
                <div class="modal-parent">
                    <div class="modal_frame">
                        <div class="video-wrapper">
                                <img class="img_frame" src="{% static 'img/img2.png' %}">
                                <div class="img_frame_caption">
                                    <h5>내용1</h5>
                                    <h5>내용2</h5>
                                    <h5>내용3</h5>
                                    <h5>내용4</h5>
                                </div>
                        </div>
                    </div>
                    {% comment %} <a class="close-modal"></a>  {% endcomment %}
                </div>
                <div class="img-overlay-text img_modal_origin">
                    <h3>바다-샘플제목-2</h3>
                    <h5>2019.4.4 오후 4시 38분</h5>
                </div>
                <button class="btn btn-custom" onclick="">삭제</button>
            </div>
        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">Related Projects</h3>
        <div class="row">
            {% for i in testData %}
                <div class="col-md-4 col-sm-6 mb-4" fade-up-in>
                    {% comment %} <img class="img-fluid img-share-height-sm img-share-width img_modal_origin" src="{{ hero.imageurl }}" alt=""> {% endcomment %}
                    <img class="img-fluid img-share-height-sm img-share-width img_modal_origin" src="{% static 'img/img2.png' %}" alt="">
                    <div class="modal-parent">
                        <div class="modal_frame">
                            <div class="video-wrapper">
                                    {% comment %} <img class="img_frame" src="{{ hero.imageurl }}"> {% endcomment %}
                                    <img class="img_frame" src="{% static 'img/img2.png' %}">
                                    <div class="img_frame_caption">
                                        <h3>aa</h3>
                                        <h5>내용1</h5>
                                        <h5>내용2</h5>
                                        <h5>내용3</h5>
                                        <h5>내용4</h5>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="img-overlay-text img_modal_origin">
                        <h3>aa</h3>
                        <h5>bb</h5>
                    </div>
                    <button class="btn btn-custom" onclick="">삭제</button> 
                </div>
            {% endfor %}
        </div>  <!-- /.row -->
    </div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
    {% if request.session.user %}
        <a href="#" class="add_circle"><i class="material-icons">add_circle</i>{{request.session.user.id}}</a>
    {% else %}
    {% endif %}
{% endblock footer %}