{% extends "base.html" %}
{% block resources %}
    {{ block.super }}
    {% load staticfiles %}
    {% load custom_tags %}
    <link ref='text/css' href="{% static 'css/mobileSelect.css' %}">
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'js/animation.gsap.js' %}"></script>
    <script src="{% static 'js/mobileSelect.js' %}"></script>
    <script src="{% static 'js/speech.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
    <script src="{% static 'js/bodymovin.js' %}"></script>
{% endblock resources %}

{% block content %}
    <!-- Page Content -->
    <div class="container">


        <!-- Portfolio Item Heading -->
        <h1 class="my-4">  
            <small> </small>
        </h1>
        <h3 class=" pt-5 my-4">Related Projects</h3>
        <div class="row">
            {% for data in request.session.data %}
                <div class="col-md-4 col-sm-6 mb-4" fade-up-in>
                    <img class="img-fluid img-share-height-sm img-share-width img_modal_origin" src="/media/{{ data.url }}" alt="">
                    <div class="modal-parent">
                        <div class="modal_frame">
                            <div class="video-wrapper">
                                    <img class="img_frame" src="/media/{{ data.url }}">
                                    <input type='hidden' id='texts' value='{{ data.texts }}'>
                                    <div class="img_frame_caption">
                                        <input type="hidden" class="trigger1" placeholder="Speech Selection">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="img-overlay-text img_modal_origin">
                        <h5>date: {{ data.date }}</h5>
                        <h5>publish: {{ data.publish }}</h5>
                    </div>
                    {% comment %} {{ request.session.user.id }}
                    {{ data.member_fake }} {% endcomment %}
                    
                    {% if request.session.user.id == data.url|split:"_"|first %}
                        <button class="btn btn-custom" onclick="javacript:delData({{ data.idx }});">삭제</button> 
                    {% else %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
    {% if request.session.user %}

        <a href="javascript:file_get();" class="add_circle" id="modalUpload" data-toggle="modal" data-target="#myModal"><i class="material-icons">add_circle</i></a>

        <!-- The Modal -->
        <div class="modal modal-center fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
       
                    <!-- Modal Header -->
                    <div class="modal-header" styles>
                    <h4 class="modal-title">파일 업로드</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body" id="modalForm">
                        <h2>Upload</h2>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="btnsubmit">업로드</button>
                    {% comment %} <button type="button" class="btn btn-default">Close</button> {% endcomment %}
                    </div>
                    
                </div>
            </div>

        </div>

    {% else %}    
    {% endif %}
{% endblock footer %}