{% extends "base.html" %}
{% block resources %}
    {{ block.super }}
    {% load staticfiles %}
    <link ref='text/css' href="{% static 'css/mobileSelect.css' %}">
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'js/animation.gsap.js' %}"></script>
    <script src="{% static 'js/mobileSelect.js' %}"></script>
    <script src="{% static 'js/speech.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.js"></script>
{% endblock resources %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Beige & Daisy's
            <small>Django Applications</small>
        </h1>

        <!-- Portfolio Item Row -->



        <div class="row"> 
            <span id="lottie"></span>
            <script>
                var animation = bodymovin.loadAnimation({
                container: document.getElementById('lottie'), // Required
                path: '/static/json/5081-empty-box.json', // Required
                renderer: 'svg', // Required
                loop: false, // Optional
                autoplay: true // Optional
                });
                         
            </script>
        </div>
        <!-- /.row -->

    </div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
    {% if request.session.data.user %}
        <a href="#" class="add_circle"><i class="material-icons">add_circle</i>{{request.session.user.id}}</a>
    {% else %}
    {% endif %}
{% endblock footer %}