certifi==2019.3.9
cffi==1.12.3
cycler==0.10.0
Cython==0.29.7
Django==2.2.20
djangorestframework==3.9.2
easydict==1.9
jsonfield==2.0.2
kiwisolver==1.0.1
matplotlib==3.0.3
mkl-fft==1.0.10
mkl-random==1.0.2
mysqlclient==1.4.2.post1
nltk==3.4.1
numpy==1.16.3
olefile==0.46
Pillow==6.0.0
pycocotools==2.0
pycparser==2.19
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
six==1.12.0
sqlparse==0.3.0
torch==1.0.1
torchvision==0.2.2
wincertstore==0.2
