{% load staticfiles %}
<script src="{% static 'js/bodymovin.js' %}"></script>

    <span id="lottie loading"></span>
    <script>
        var animation = bodymovin.loadAnimation({
        container: document.getElementById('lottie'), // Required
        path: '/static/json/progress_bar.json', // Required
        renderer: 'svg', // Required
        loop: true, // Optional
        autoplay: true // Optional
        });
    </script>  

<form method="post" action='' id="img-form" enctype="multipart/form-data">
  {% csrf_token %}
  {% comment %} {{ form.as_table }} {% endcomment %}
  {% comment %} 이  미  지<input type="file" name="image"><br>
  공유 여부 <input type='checkbox' name='publish'><br> {% endcomment %}
  {% comment %} <button type="submit" class="btn btn-default" id="btnsubmit">업로드</button> {% endcomment %}

  <div class="form-group">
    <input type="file" name="image" class="file" style="visibility:hidden; position: absolute;">
    <div class="input-group col-xs-12">
      <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
      <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
      <span class="input-group-btn">
        <button class="browse-img btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> 사진</button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <input type="checkbox" name="publish" class="share" style="visibility:hidden; position: absolute;">
    <div class="input-group col-xs-12">
      <span class="input-group-addon"><i class="glyphicon glyphicon-share"></i></span>
      <input type="text" class="form-control input-lg" checked data-style="btn-group-justified" disabled placeholder="off">
      <span class="input-group-btn">
            </span>
        <button class="browse-share btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> 공유</button>

    </div>
  </div>

</form>

<script>

    // 이미지 업로드 
    $(document).on('click', '.browse-img', function(){
    var file = $(this).parent().parent().parent().find('.file');
    file.trigger('click');
    });
    $(document).on('change', '.file', function(){
    $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

    // publish 여부
    $(document).on('click', '.browse-share', function(){
    var share = $(this).parent().parent().parent().find('.share');
    share.trigger('click');
    });
          // 수정하기!!!
    $(document).on('change', '.share', function(){
    $(this).parent().find('.form-control').val($(this).val().replace('공유 거부', "공유 허용"));
    });

    // 모달 창 닫기
    $(".close").click(function(event){
        $('#myModal').removeClass('show')
        $('#myModal').removeAttr("style");
    });   

</script>