{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block resources %}
	{{ block.super }}
	<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	{% load staticfiles %}
	{% csrf_token %}
	<script src="{% static 'js/naver.js' %}"></script>
	<script src="{% static 'js/kakao.js' %}"></script>
{% endblock resources %}

{% block content %}
<!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Heading -->
        <h1 class="my-4 mb-5 align-center">
			<small>Welcome!</small>
        </h1>
        <!-- Portfolio Item Row -->
        <div class="row box-center-custom">
            <div class="col-md-12 mb-4">
				<div class="align-center">
					<div id="naverIdLogin"><a id="naverIdLogin_loginButton" href="#" role="button"><img src="https://static.nid.naver.com/oauth/big_g.PNG" width=320></a></div>
				</div>
			</div>
			<div class="col-md-12 mb-4">
				<div class="align-center">
					<a id="custom-login-btn" href="javascript:kakaoLogin();"><img src="//mud-kage.kakao.com/14/dn/btqbjxsO6vP/KPiGpdnsubSq3a0PHEGUK1/o.jpg" width="233" height="50" /></a>
            	</div>
			</div>
        </div>
    </div>

{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock footer %}