{% extends "registration/reg_base.html" %}

{% block title %}
	Sign In
{% endblock title %}

{% block content %}
<form class="login100-form validate-form" action="" method="post">
	<div class="wrap-input100 validate-input m-t-85 m-b-50" data-validate = "Enter email">
		<input class="input100" type="text" name="email">
		<span class="focus-input100" data-placeholder="Email"></span>
	</div>

	<div class="wrap-input100 validate-input m-b-50" data-validate = "Enter username">
		<input class="input100" type="text" name="username">
		<span class="focus-input100" data-placeholder="Username"></span>
	</div>

	<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
		<input class="input100" type="password" name="pass">
		<span class="focus-input100" data-placeholder="Password"></span>
	</div>

	<div class="wrap-input100 validate-input m-b-50" data-validate="Repeat password">
		<input class="input100" type="password" name="repass">
		<span class="focus-input100" data-placeholder="Repeat Password"></span>
	</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn" type="submit">
			SIGN UP
		</button>
	</div>
</form>
{% endblock content %}
