{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block resources %}
	{{ block.super }}
	{% load staticfiles %}
		<!-- naver login -->
        <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
        <script src="{% static 'js/naver.js' %}"></script>
		<!-- kakao login -->
	    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
        <script src="{% static 'js/kakao.js' %}"></script>
	{% csrf_token %}
{% endblock resources %}

{% block content %}
<!-- Page Content -->
    <div class="container loginBox">
    {% comment %} <div class=""> {% endcomment %}
        <div class="box-center-custom">
			<div class='row'>
				<div class="col-md-12 mb-4">
					<h2 class="my-4 mb-5 align-center">
						<small>간편 로그인</small>
					</h2>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-12 mb-4">
					<div class="align-center">
						<div id="naverIdLogin"><a id="naverIdLogin_loginButton" href="#" role="button"><img src="https://static.nid.naver.com/oauth/big_g.PNG" width="240" height="50"></a></div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-12 mb-4">
					<div class="align-center">
						<a id="custom-login-btn" href="javascript:kakaoLogin();"><img src="//mud-kage.kakao.com/14/dn/btqbjxsO6vP/KPiGpdnsubSq3a0PHEGUK1/o.jpg" width="231.2" height="47" /></a>
					</div>
				</div>
			</div>
		</div>
    </div>

{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock footer %}